<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="handle_minicheckout_page" instance="Bsecure\UniversalCheckout\Observer\HandleCheckoutPage" />
    </event>
    <event name="controller_action_predispatch_checkout_onepage_success">
        <observer name="handle_mini_cart" instance="Bsecure\UniversalCheckout\Observer\HandleMiniCart" />
    </event>
    <event name="customer_logout">
        <observer name="bsecure_universalcheckout_customer_logout" instance="Bsecure\UniversalCheckout\Observer\Frontend\CustomerLogOut" />
    </event>
</config>