<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <universalcheckout>
            <general>
                <enable>1</enable>
                <bsecure_button_show_on_login>0</bsecure_button_show_on_login>
                <bsecure_base_url>https://api.bsecure.pk/v1</bsecure_base_url>
            </general>
        </universalcheckout>

        <carriers>
            <bsecureshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Bsecure\UniversalCheckout\Model\Carrier\Shipping</model>
                <name></name>
                <price>0.00</price>
                <title>bSecure Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </bsecureshipping>
        </carriers>

         <payment>
            <bsecurepayment>
                <active>1</active><!-- You can use another methor like capture  -->
                <model>Bsecure\UniversalCheckout\Model\PaymentMethod</model>
                <active>1</active>
                <title>bSecure Payment</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
                <group>offline</group>
            </bsecurepayment>
        </payment>

    </default>
</config>