<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Bsecure\UniversalCheckout\Api\PostManagementInterface" type="Bsecure\UniversalCheckout\Model\Api\PostManagement"/>	
	
	<type name="Bsecure\UniversalCheckout\Model\Carrier\Shipping">
      	<plugin name="disable-Shipping" type="Bsecure\UniversalCheckout\Model\Carrier\Shipping" sortOrder="1" />  
    </type>
    
    <type name="Magento\Quote\Api\ShipmentEstimationInterface">
        <plugin name="hide_show_shipping_methods" type="Bsecure\UniversalCheckout\Plugin\Quote\Api\ShipmentEstimationPlugin"/>
    </type>

    <!-- Adding Columns in sales_order_grid-->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="bsecure_order_id" xsi:type="string">sales_order.bsecure_order_id</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\SalesArchive\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="bsecure_order_id" xsi:type="string">sales_order.bsecure_order_id</item>
            </argument>
        </arguments>
    </virtualType>    
</config>