<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="order_id_sales_after" instance="Bsecure\UniversalCheckout\Observer\BeforeOrderComplete" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="order_id_sales_after_success_action" instance="Bsecure\UniversalCheckout\Observer\OrderComplete" />
    </event>
     <event name="payment_method_is_active">  
     	<observer name="restrict_payment_methods" instance="Bsecure\UniversalCheckout\Observer\RestrictPaymentMethods" />  
     </event>
</config>